#btnScrollup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    box-shadow: 0 0 1.25rem rgb(48 119 208 / 89%) !important;
}

.tabtravel {
    padding-top: 0px !important;
}

.icon-gili {
    width: 35px !important;
}

.icon-gili2 {
    width: 40px !important;
}

.tab-nav-rounded .nav-link.active .icon::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -34px;
    left: 24px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.tab-gili {
    padding-top: 20px!important;
}

.tab-nav-rounded .nav-link.active {
    margin-top: -15px !important;
}

.tab-nav-rounded .nav-link.active .icon {
    border: 1px solid #297cbb;
    border-radius: 50%;
    padding: 14px;
    background-color: #297cbb;
}

.bg-topbar {
    background-color: rgba(255, 220, 0, 1.00) !important;
}

.topbar-announcement {
    padding: 15px;
    text-align: center;
    color: rgba(3, 18, 26, 1.00);
    line-height: 20px;
    /* font-weight: 700; */
    font-size: 16px;
}

.icon-topbar {
    font-size: 22px;
    margin-right: 10px;
}

.link-topbar {
    color: rgba(1, 148, 243, 1.00) !important;
}

.btn-cari {}

.tabelfull {
    width: 100%;
}

.radiobooking {
    width: 30px;
    transform: scale(1.6);
}

.labelbooking {
    margin-right: 50px;
    margin-left: 50px;
}

.menucek {
    display: none !important;
}

@media (max-width: 1196px) {
    .menucek {
        display: block !important;
    }
}